Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
RunTime/WpfApplication1.vshost.exe.manifest
RunTime/PartMaker.vshost.exe.manifest
RunTime/SpaceX.vshost.exe.manifest
RunTime/HullMaker.vshost.exe.manifest
BangAround/BangAround.csproj
BangAround/Form1.cs
BangAround/Form1.Designer.cs
BangAround/Form1.resx
BangAround/Program.cs
BangAround/Properties/AssemblyInfo.cs
BangAround/Properties/Resources.Designer.cs
BangAround/Properties/Resources.resx
BangAround/Properties/Settings.Designer.cs
BangAround/Properties/Settings.settings
RunTime/ShipEditor.vshost.exe.manifest
RunTime/StarShips.dll
RunTime/StarShips.dll
RunTime/4Xim.zip
RunTime/StarShips.dll
